.footer {
    background-color: #faf6f4;

    .footer-container {
        padding: 72px 0;
        display: flex;
        border-bottom: 1px solid #eaeaea;
        gap: 32px;

        .footer-description, .footer-map {
            flex: 1;
        }
        .footer-description {
            line-height: 32px;
        }
        .footer-map {
            width: 100%;
            overflow: hidden;
        }

        .footer-logo-link {
            display: block;
        }
        .footer-logo {
            height: 126px;
        }
         h2 {
            padding: 4px 0 16px 0;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                content: "";
                width: 30%;
                height: 1px;
                background-color: #e0cabf;
            }
         }

    }

    .footer-copyright {
        padding: 72px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p {
            color: #6c6f72;

            a {
                color: var(--primary-color);
            }
        }

        .wrap-social-icon {
            display: flex;
            gap: 18px;

            .icon-link {
                &:hover + .icon-link i {
                    color: var(--primary-color);
                }
            }

            .icon-link i {
                margin-right: 6px;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer-container {
        flex-direction: column;

        .footer-logo-link {
            text-align: center;
        }
        .footer-map {
            height: 300px;
        }
    }

    .footer-copyright {
        flex-direction: column;
        gap: 12px;
        align-items: start !important ;
    }
}