.witness-list {
    display: flex;

    .witness-item {
        padding: 0 12px;
        width: 25%;
        margin-bottom: 32px;

        .witness-item-link {
            img {
                width: 100%;
                border-radius: 12px;
            }
            &:hover {
                color: var(--primary-hover-color);
            }
        }

        h4 {
            a {
                display: block;
                width: 100%;
                font-size: 21px;
                line-height: 24px;
                margin: 16px 0 6px;
                color: var(--black-color);
                font-weight: 700;
            }
            margin-bottom: 8px;
        }

        .less-content {
            font-size: 17px;
            color: var(--text-color);
            margin-bottom: 8px;
            height: 60px;
            overflow: hidden;
        }
        span {
            font-size: 13px;
            color: var(--text-color);
        }
    }
}

@media (max-width: 1023px) {
    .witness {
        .witness-list {
            flex-wrap: wrap;
            .witness-item {
                width: 50%;
            }
        }
    }
}

@media (max-width: 767px) {
    .witness {
        .witness-list {
            flex-wrap: wrap;
            .witness-item {
                width: 100%;
            }
        }
    }
}